/*----------------------------------------------------------------------------------------
										Resets
----------------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	width: 992px;
	margin: 0 auto;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*----------------------------------------------------------------------------------------
									Overall layout
----------------------------------------------------------------------------------------*/

.body { 
	width: 992px;
	height: auto;
}

#wrapper { /* Has #container-header and #container-main as container children */
	display: flex;
	flex-direction: column;
}

body h1, h2, p {
    font-family: 'Josefin Sans', ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}

h1 {
	font-size: 40px;
}

h2 {
	font-weight: bold;
	font-size: 16px;
    line-height: 165%;
    text-align: left;
}

h3 {
	font-size: 16px;
    text-align: left;
}

h4 {
	font-weight: bold;
	font-size: 15px;
}

p {
    text-indent: 20px;
    text-align: justify;
    line-height: 140%;
    font-size: 14px;
}

/*----------------------------------------------------------------------------------------
										Header
----------------------------------------------------------------------------------------*/

#header {
	background-color: black;
    color: #06B6FF; /* Changed color from white as white font would not work for accessibility */
    height: 220px;
   	font-weight: bold;
}

#container-header { /* Children divs for Flexbox are #logo, #tagline, #nav-div, #login */
	background-image: url(header-image.jpg);
	height: 100%;
	display: flex; 
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

#logo { /* Child div of #container-header */
	height: 70px;
	width: 70px;
	align-self: flex-start;
}

#tagline { /* Child div of #container-header */
	align-self: flex-end;
}

#tagline p { /* Child div of #container-header */
	font-size: 20px;
	color: #1F3A93;
	font-weight: bolder;
}

#image {
	height: 70px;
	width: 70px;
}

/*----------------------------------------------------------------------------------------
										Nav-bar
----------------------------------------------------------------------------------------*/

.nav{
    padding: 5px;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.nav li{
	display: flex;
	align-content: center;
}

.nav a{
    padding:10px;
}

#nav-div { /* Child div of #container-header */
	align-self: flex-end;
}

.nav-buttons {
	border:1px solid #fff;
	background: red; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(red, orange); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(red, orange); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(red, orange); /* For Firefox 3.6 to 15 */
	background: linear-gradient(red, orange); /* Standard syntax */
}

#nav-buttons:hover {
	background: orange; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(orange, red); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(orange, red); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(orange, red); /* For Firefox 3.6 to 15 */
	background: linear-gradient(orange, red); /* Standard syntax */
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

/*----------------------------------------------------------------------------------------
										Login-bar
----------------------------------------------------------------------------------------*/

#login { /* Child div of #container-header */
	align-self: flex-start;
}

.edit_log {
	border-bottom:1px solid #fff;
	background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(red, orange); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, orange); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, orange); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, orange); /* Standard syntax */
}

#edit_log:hover {
	background-color: green;
}


/*----------------------------------------------------------------------------------------
											Main
----------------------------------------------------------------------------------------*/                                                                                                                             
/*----------------------------------------------------------------------------------------
									Article & Aside text
----------------------------------------------------------------------------------------*/

 #container-main { /* Container of #article and #aside */
	display: flex;
	flex-direction: row;
}

#article { 
	width: 75%;
	background-color: #e8e8e8;
    border-radius: 10px;
	overflow-y: auto;
}

#aside {
	width: 25%;
	background-color: #96CEFF;
    opacity: 0.9;
    border-radius: 10px;
    color: black;
}

/* Only for statuses-1.html */
#article-extra-statuses  { 
	width: 100%;
	background-color: #e8e8e8;
    border-radius: 10px;
	overflow-y: auto;
}

.post, .notable_user, .welcome {
	display: inline-block;
	border-radius: 5px;
	padding: 10px;
}

.post {
    margin: 25px;
    background-color: white;
}

.notable_user p {
	font-size: 12px;
}

.welcome p {
	color: #960000;
}

/* Post a status div and reply div */
.post-status-button-div, .button-reply, .hidden, #statuspost, .reply-form {
    text-align: center;
    vertical-align: middle; 
    font-family: 'Josefin Sans', ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
    line-height: 140%;
    font-size: 13px;
}

/* Post a status button */
#post-status-btn {
    text-align: center;
    vertical-align: middle; 
    font-family: 'Josefin Sans', ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
    line-height: 140%;
    font-size: 13px;
}

/* Submit status and reply hidden forms */
#statuspost, .reply-form {
     line-height: 200%; /* Creates space between lines */
}

#form {
	visibility: hidden;
    text-align: center;
}

.form-reply {
}

#data-form-id{
}

.hidden {
	display: none;
}

#button-form{
	float: center;
}

/* See more statuses button */
#extra_statuses {
     text-align: center;
}

#button-load {
    padding: 10px;
    font-size: 13px;
    border-radius: 5px;
    background-color: #96CEFF;
}

/* Aside style */
#sophie_name_aside {
	text-align: left;
}

#sophie_bio {
	display: block;
}

/*----------------------------------------------------------------------------------------
									Article & Aside pictures
----------------------------------------------------------------------------------------*/ 
.article_img, .sophie_post {
	display: block;
    width: 10%;
	float: left;
	padding: 20px;
	border-radius: 10px;
}

.sophie_post {
	width: 200px;
	border-radius: 4px;
	margin: 0 auto;
}

.aside_img {
	display: block;
	margin: 0 auto;
	border-radius: 4px;
	width: 30%;
}

/*----------------------------------------------------------------------------------------
									Footer
----------------------------------------------------------------------------------------*/ 
#footer {
	background-image: url(dark-background-footer.jpg);
    color: #06B6FF; /* Font color cannot be white as this would not work for accessibility */
    height: 100px;
   	font-weight: bold;
	display: flex; 
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#footer-links-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50%;
    align-items: center;
}

.footer-links {
	display: flex;
	flex-direction: column;	
	justify-content: space-around;
	align-content: center;
	padding: 7px;
	margin: 20px;
	border:1px solid #fff;
	border-radius: 2px;
	background: red; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(red, orange); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(red, orange); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bred, orange); /* For Firefox 3.6 to 15 */
	background: linear-gradient(red, orange); /* Standard syntax */
}

.footer-links a{
    padding:10px;
}

.footer-links {
}

.footer-links:hover {
	background: orange; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(orange, red); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(orange, red); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(orange, red); /* For Firefox 3.6 to 15 */
	background: linear-gradient(orange, red); /* Standard syntax */
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

#footer-links-div li {
	color: #06B6FF; /* Font color cannot be white as this would not work for accessibility */
}

/*---------------------------------------------------------------------------------------
				Resizes for MEDIUM screens (width between 768px and 992px) 
----------------------------------------------------------------------------------------*/
@media only screen and (max-width: 992px) {
    body {
    	display: flex
    	min-width: 100%;
    }

    header {
    	display: flex;
    	flex-direction: column;
    	width: 100%;
    }

    #wrapper { /* Has #container-header and #container-main as container children */
		display: flex;
		flex-direction: column;
	}

/* Header */
    #container-header{ /* Children divs of #container-header for Flexbox are #logo, #tagline, #nav-div, #login */
  		width: 100%;
    	display: flex;
    	flex-direction: column;
    	flex-wrap: wrap;
    	justify-content: center;
    }
/* End of Header */	

/* Main */
	#container-main {  /* Container of #article and #aside */
		width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
	}

    #article {
    	width: 80%;
        flex-direction: column;
    }

    #aside {
    	width: 80%;
        flex-direction: column;
    }
    
    .notable_user

    .aside_img {
    	width: 10%;
    	display: inline;
    	float: left;
        margin: 10px;
    }
/* End of Main */    
}

/*--------------------------------------------------------------------------------------- 
						Resizes for SMALL screens (max width 768px) 
----------------------------------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
    body {
    	display: inline;
    	min-width: 100%;
    }

    header {
    	display: flex;
    	flex-direction: column;
    	min-width: 100%;
    	min-height: 100%;
    }

    #wrapper { /* Has #container-header and #container-main as container children */
		display: flex;
		flex-direction: column;
	}

    #container-header{ /* Children divs for Flexbox are #logo, #tagline, #nav-div, #login */
 		width: 100%;
    	display: flex;
    	flex-direction: row;
    	flex-wrap: wrap;
    	align-items: center;
    }

    #container-main {  /* Container of #article and #aside */
		display: flex;
		flex-direction: column;
	}

    #article {
    	width: 100%;
    }

    #aside {
    	width: 100%;
    }
}